node_modules
.turbo
dist
.DS_Store
*.log
packages/*/*.bun-build
packages/cli/bin/*
*.tsbuildinfo

# Generated outputs
output/
output/cli-gen/

# Package build outputs
packages/*/dist/
**/.turbo/
**/*.tsbuildinfo

test_data/*
